{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - path_info.args: Array of URL arguments un aliassed.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <!-- Global site tag (gtag.js) - Google Ads: 1027328832 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1027328832"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-1027328832');
</script>
      <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P897PJL');</script>
    <!-- End Google Tag Manager -->

    {% if get.form %}
  {% if get.form == 'contact' %}
  <!-- Event snippet for Contactform footer conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-1027328832/QUyhCPneuqsBEMCW7-kD'});
</script>
  {% elseif get.form == 'machine-krijg-nu-een-offerte' %}
<!-- Event snippet for Machines productpagina: offerte conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-1027328832/ZY6gCOCiuasBEMCW7-kD'});
</script>
  {% elseif get.form == 'machine-contacteer-mij' %}
<!-- Event snippet for Machines productpagina: contacteer mij conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-1027328832/smT8CPXpuqsBEMCW7-kD'});
</script>
  {% elseif get.form == 'plan-nu-uw-gesprek-met-uw-expert' %}
<!-- Event snippet for Machines productpagina: contacteer mij conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-1027328832/smT8CPXpuqsBEMCW7-kD'});
</script>
  {% elseif get.form == 'commercieel-medewerker' %}
<!-- Event snippet for Contacteer een commercieel medewerker conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-1027328832/YTQQCI2yuasBEMCW7-kD'});
</script>
  {% elseif get.form == 'service-medewerker' %}
<!-- Event snippet for Contacteer een service medewerker conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-1027328832/_7bGCLn1uqsBEMCW7-kD'});
</script>
  {% endif %}
{% endif %}


    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P897PJL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
      <script type="text/javascript" src="https://secure.leadforensics.com/js/22936.js" ></script>
    <noscript><img alt="" src="https://secure.leadforensics.com/22936.png" style="display:none;" /></noscript>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
<div class="initial-popup" style="display:none;">
  <div class="initial-popup--popup">
    <div class="initial-popup--header">
        <h5>{{'Make your choice'|t}}</h5>
    </div>
    <div class="initial-popup--content">
      <div class="initial-popup--column">
        <a class="initial-popup--link" href="http://gereedschappen.detollenaere.eu" target="_blank">
          <img src="/themes/detollenaere/img/tools.jpg" class="img-fluid">
          <div class="initial-popup--info">
            <h5>{{'Professional tools'|t}}</h5>
          </div>
        </a>
      </div>
      <div class="initial-popup--column">
        <a class="initial-popup--link" href="javascript:;" data-popup-action="close">
          <img src="/themes/detollenaere/img/industrial.jpg" class="img-fluid">
          <div class="initial-popup--info">
            <h5>{{'Industrial machines'|t}}</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
