{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.top_header: Items for the top header region.
 * - page.top_header_form: Items for the top header form region.
 * - page.header: Items for the header region.
 * - page.header_form: Items for the header form region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * Theme variables:
 * - navbar_top_attributes: Items for the header region.
 * - navbar_attributes: Items for the header region.
 * - content_attributes: Items for the header region.
 * - sidebar_first_attributes: Items for the highlighted region.
 * - sidebar_second_attributes: Items for the primary menu region.
 * - sidebar_collapse: If the sidebar_first will collapse.
 *
 * @see template_preprocess_page()
 * @see bootstrap_barrio_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page-wrapper">
	<div id="page">
		<header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
			{% block head %}
				{% if page.secondary_menu or page.page.top_header or page.top_header_form or page.top_left or page.top_right %}
					<nav{{ navbar_top_attributes.addClass('top-header') }}>
						<div class="section {{ container }} clearfix">
							<div class="row">
								<div class="col-xs-12 col-md-6 hidden-sm-down">
									<div class="top-left-content">
									 {{page.top_left}}
									</div>
								</div>

								<div class="col-xs-12 col-md-6">
									<div class="float-xs-right">{{page.top_right}}{{ page.secondary_menu }}</div>
								</div>
							</div>
						</div>
					</nav>
				{% endif %}
				<nav{{ navbar_attributes }}>
					<div class="section {{ container }} clearfix">
						<div class="row justify-content-between">
							<div class="col col-auto">
								<div class="navbar-brand">
									{{ page.header }}
								</div>
							</div>

							<div class="col col-auto hidden-lg-up">
							{% if page.primary_menu %}
								<div class="float-xs-right">
									<button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#CollapsingNavbar">
										&#9776; <span class="text">menu</span>
									</button>
								</div>
							{% endif %}

							{% if sidebar_collapse %}
								<button class="navbar-toggler hidden-md-up" type="button" data-toggle="offcanvas" data-target=".sidebar-nav">
									&#9776;
								</button>
							{% endif %}
							</div>

							<div class="col col-auto col--nav">
							{% if page.primary_menu %}
								<div class="collapse navbar-toggleable-md navbar-nav" id="CollapsingNavbar">
									{{ page.primary_menu }}
								</div>
							{% endif %}
							</div>
						</div><!--/ row -->
					</div>
				</nav>
			{% endblock %}
		</header>

		<div class="container">
		{{ page.breadcrumb }}
		</div><!--/ container -->

		{% if page.top_page_full_width %}
			{{page.top_page_full_width}}
		{% endif %}
		<div id="main-wrapper" class="layout-main-wrapper clearfix">
			{% block content %}
				<div id="main" class="{{ container }}">
					<div class="row row-offcanvas row-offcanvas-left clearfix">


						{% if page.sidebar_first %}
							<div{{ sidebar_first_attributes }}>
								<aside class="section" role="complementary">
									{{ page.sidebar_first }}
								</aside>
							</div>
						{% endif %}
						{% if page.sidebar_second %}
							<div{{ sidebar_second_attributes }}>
								<aside class="section" role="complementary">
									{{ page.sidebar_second }}
								</aside>
							</div>
						{% endif %}
					</div>
				</div>
			{% endblock %}
		</div>

		<main>
			<section class="section">
				<a id="main-content" tabindex="-1"></a>

				<div class="container">
					<div class="row">
						{% if page.top_page_left %}
							<div class="col-xs-12 col-md-6">
								{{page.top_page_left}}
							</div>
							{% if not page.top_page_right %}
								<div class="col-xs-12 col-md-6">
								</div>
							{% endif %}
						{% endif %}

						{% if page.top_page_right %}
							{% if not page.top_page_left %}
								<div class="col-xs-12 col-md-6">
								</div>
							{% endif %}

							<div class="col-xs-12 col-md-6 position-static">
								{{page.top_page_right}}
							</div>
						{% endif %}
					</div><!--/ row -->
				</div><!--/ container -->
			{{ page.content }}
			</section>
		</main>

		{% if page.bottom_page_full_width %}
			{{page.bottom_page_full_width}}
		{% endif %}

		<footer class="site-footer clearfix">
			{% block footer %}
				{% if page.footer_left or page.footer_right %}
				<div class="{{ container }}">
						<div class="row">
							<div class="col-xs-12 col-md-6 footer-left">
								{{ page.footer_left }}
							</div>
							<div class="col-xs-12 col-md-6 footer-right">
								{{ page.footer_right }}
							</div>
						</div>
					</div>
				{% endif %}
				{% if page.footer_bottom %}

					<div class="site-footer__bottom">
					<div class="{{ container }}">
						{{ page.footer_bottom }}
						</div>
					</div>

				{% endif %}
			{% endblock %}
		</footer>
	</div>
</div>
