<ul class="flippy">
    {% if first %}
    <li class="flippy-first">{{ first }}</li>
    {% endif %}
    {% if prev %}
    <li class="flippy-previous">{{ prev }}</li>
    {% endif %}
    {% if random %}
    <li class="flippy-random">{{ random }}</li>
    {% endif %}
    <li class="flippy-overview">
    <a href="/realisaties">{{ 'Terug naar overzicht'|t }}</a>
    </li>
    {% if next %}
    <li class="flippy-next">{{ next }}</li>
    {% endif %}
    {% if last %}
    <li class="flippy-last">{{ last }}</li>
    {% endif %}
</ul>
