{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{{ attach_library('bootstrap_barrio/node') }}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}

{% if content.field_cta_tekst|render|trim or content.field_link|render|trim %}
<div class="container hidden-md-down">
    <div class="product-cta">
    {{content.field_cta_tekst}}
    <a href="javascript:;" id="btn_show_offer">{{content.field_cta_knop_titel}}</a>
    {{content.field_cta_formulier}}
    </div>
</div>
{% endif %}

<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
  <div class="product-details">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">&nbsp;</div>
    <div class="col-xs-12 col-md-8">
    <div class="block-title">
        <h1>
            {{label}}
        </h1>
    </div>
    </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4 line-right">
    {{ content.field_product_afbeelding }}

    <div class="image-center">
    {% if brand %}
    <img src="{{ brand }}" class="img-fluid">
    {% endif %}
    </div>
{% if content.field_cta_links_titel|render|trim or content.field_cta_links_tekst_boven|render|trim or content.field_cta_links_tekst_rechts|render|trim or content.field_cta_links_link|render|trim %}
    <article class="representative cta-left-fixed hidden-sm-down">
        <div class="text-formatted">
            <h3>{{content.field_cta_links_titel}}</h3>
        </div>
        {{content.field_cta_links_tekst_boven}}
        <div class="row">
        <div class="col-xs-3 col-md-12 col-lg-4">
        {{content.field_cta_links_afbeelding}}
        </div>
        <div class="col-xs-9 col-md-12 col-lg-8">
        {{content.field_cta_links_tekst_rechts}}
        </div>
        </div>
        <div class="row">
        <div class="col-xs-12">
        <div class="repr-link">
        	<a href="javascript:;" id="contact-machine">{{'Contact me'|trans}}</a>
        </div>
        </div>
        </div>
        {{content.field_formulier}}
    </article>
    <div class="cta-left-fixed-placeholder"></div>
    {% endif %}

    </div>
    <div class="col-xs-12 col-md-8">
        {{ content.body }}
        <div class="product-info-wrapper">
        <ul class="product-tabs">
            <li><a href="#performance" data-nobookmark-mobile="true" class="active">{{'Execution'|trans}}</a></li>
            <li><a href="#technicalspecs" data-nobookmark-mobile="true" class="active">{{'Technical specifications'|trans}}</a></li>
            <li><a href="#videos" data-nobookmark-mobile="true">{{"Images and videos"|trans}}</a></li>
            <li><a href="#options" data-nobookmark-mobile="true">{{'Options'|trans}}</a></li>
            {% if node.field_modellen.value %}
            <li><a href="#models" data-nobookmark-mobile="true">{{'Models'|trans}}</a></li>
            {% endif %}
            <li><a href="#technical" data-nobookmark-mobile="true">{{'Technical sheet'|trans}}</a></li>
        </ul>
        <div class="product-tabs-placeholder"></div>
    <div class="reference">
    {{ content.field_referentie }}
    </div>
    <div class="tab-pane" id="performance">
        {{ content.field_uitvoering }}
    </div>
    <div class="tab-pane" id="technicalspecs">
        {{ content.field_tech_specs }}
    </div>
    <div class="tab-pane" id="videos">
        <h4><strong>{{"Images and videos"|trans}}</strong></h4>
        <div class="product-images row">
        {{ content.field_afbeeldingen }}
        </div>
        {{ content.field_videos }}
    </div>
    <div class="tab-pane" id="options">
        <h4><strong>{{"Options"|trans}}</strong></h4>
        {{ content.field_opties }}
    </div>
    {% if node.field_modellen.value %}
    <div class="tab-pane" id="models">
        <h4><strong>{{"Models"|trans}}</strong></h4>
        {{ content.field_modellen }}
    </div>
    {% endif %}
    <div class="tab-pane" id="technical">
        <h4><strong>{{"Technical sheet"|trans}}</strong></h4>
        {{ content.field_preview_document }}
        {% if node.field_documenten[0] %}
        <a class="btn btn-primary" href="{{ file_url(node.field_documenten.entity.uri.value) }}" target="_blank">{{"Download nu de technische fiche"|trans}}</a>
        {% endif %}
    </div>
    </div>
    </div>
    </div>
    </div>

    {% if content.field_cta_tekst|render|trim or content.field_link|render|trim %}
    <div class="container hidden-md-up">
        <div class="product-cta">
        {{content.field_cta_tekst}}
        <a href="javascript:;" id="btn_show_offer">{{content.field_cta_knop_titel}}</a>
        {{content.field_cta_formulier}}
        </div>
    </div>
    {% endif %}


    </div>
{#
<div class="product-bottom">
    <div class="container">
    <div class="row">
    <div class="col-xs-12 col-md-4 line-right">
    <div class="intrests">
    {{view1}}
    </div>
    </div>
    <div class="col-xs-12 col-md-8">
    <div class="product-images row">
    <div class="col-xs-12">

    </div>
    </div>
    </div>
    </div>
    </div>
</div>
#}


  </div>
</article>
