{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
{%
  set classes = [
    'taxonomy-term',
    'vocabulary-' ~ term.bundle|clean_class,
  ]
%}
<div{{ attributes.setAttribute('id', 'taxonomy-term-' ~ term.id).addClass(classes) }}>
  {{ title_prefix }}
  {% if not page %}
    <h1><a href="{{ url }}">{{ name }}</a></h1>
  {% endif %}
  {{ title_suffix }}
  <div class="content">
    <div class="row">
      <div class="col-xs-12">
        {{content.field_categorie_logo}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{ content.description }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        {{ content.field_website_merk }}
      </div>
    </div>
  </div>
</div>
