/*
 *	UTILITIES / BS 4
 */
.col {
	padding: 0 15px;
	flex: 0 1 auto;
	max-width: 100%;
}
.justify-content-between {
	justify-content: space-between;
}


@media (max-width: 1200px) {

	.menu--main .nav-item .nav-link {
		padding: 25px 10px;
	}
}


@media (max-width: 991px) {
	body {
		padding-top: 90px;
	}

	#navbar-main::after {
		content: none;
	}
	#header {
		z-index: 99;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		max-height: 100vh;
		overflow-y: auto;
		box-shadow: 0 0 20px rgba(#000, .3);
		border-bottom: 1px solid #ccc;

		&::before,
		&::after {
			content: none;
		}
	}

	.site-logo img {
		width: 200px;
	}

	.col--nav {
		width: 100%;
	}

	.menu--main {
		.navbar-nav {
			border: 1px solid #ccc;
			border-left: none;
			border-right: none;
			margin-bottom: 10px!important;
		}

		.nav-item {
			border-bottom: 1px solid #ccc;
			&:last-child { border-bottom: none; }

			.nav-link {
				padding: 5px 15px!important;

				&::before { content: none; }
			}
		}
		.nav-link {
			&:hover {
				color: #f59f07;
			}
			&:active {
				color: #44a8d7;
			}
		}
	}


	.brand-wrapper {
		width: 16.6665%;
	}

	.cta-left-fixed.fixed {
		top: 75px;
	}
	.product-tabs.fixed {
		top: 92px;
	}
}

@media (max-width: 767px) {
	.brand-wrapper {
		width: 20%;
	}

	.node--view-mode-teaser .article-content {
		padding-left: 0;
		padding-right: 0;
	}

	.product-order, .product-pricing{
	    .js-form-type-select, .item_price, .form-item-amount{
	      width: 100%;
	    }
	}


	.orange-bar {
		padding-top: 20px;
		padding-bottom: 0;
		font-size: .9rem;

		h2, .h2 {
			font-size: 1rem;
		}
	}


	.block-title {
		padding: 30px 0 0;
	}


	.cta-left-fixed.fixed {
		position: static;
	}
	.cta-left-fixed-placeholder,
	.cta-left-fixed.fixed + .cta-left-fixed-placeholder {
		display: none;
	}
	.representative {
		margin-bottom: 20px;
	}


	.related-articles {
		display: none;
	}
	.article-content {
		padding: 0;
	}



	.representative {
		width: 100% !important;
	}


	.product-spotlight:hover{
        .views-field-body, .product-thumb-image, .field--name-field-product-afbeelding{
            transform: scale(1);
        }

        .views-field-title, .views-field-name, .node__title{
            transform: scale(1);
        }

        .product-promo{
            transform: scale(1);
        }
	}


	.line-right::after {
		content: none;
	}


	.product-spotlight--cat {
		padding: 10px !important;
		border-bottom: 2px solid $primary_color;

		&:first-child {
			border-top: 2px solid $primary_color;
		}

		.product-thumb-image {
			height: auto;
			margin-bottom: 0;
		}
		.views-field-field-categorie-logo {
			float: right;

			img {
				width: 60px;
				height: auto;
				max-height: 30px;
			}
		}
		.views-field-name {
			overflow: hidden;
			margin-bottom: 0;
			text-align: left;
		}

		/* 2e hands */
		.field--name-body,
		.btn-detail {
			display: none;
		}

		.field--name-field-product-afbeelding {
			float: right;
			height: auto;
			margin-bottom: 0;

			img {
				width: 60px;
				height: auto;
				max-height: 30px;
			}
		}
		.node__title {
			overflow: hidden;
			text-align: left;
		}
	}


	.product-details .block-title {
		margin-top: 0;
		text-align: center;
	}

	.product-details .image-center {
		img {
			max-width: 100px;
		}
	}
}

@media (max-width: 576px) {
	.navbar-brand {
		margin-right: 0;
	}
	.navbar-brand .site-logo {
		margin-right: 0;
	}

	#order_form_wrapper{
		margin: 0 15px;
	}


	.paragraph--type--tekst-2-kolommen > div,
	.paragraph--type--_-afbeeldingen > div,
	.form-type-textfield,
	.form-type-email {
		float: none;
		width: 100%;
	}

	.brand-wrapper {
		width: 25%;
	}


	.product-tabs,
	.product-tabs.fixed {
		position: static !important;

		display: block;

		li {
			display: block;
			width: 100%;
		}
	}
	.product-tabs li a:hover,
	.product-tabs li a.active {
		color: #444;
		background: transparent;
	}

	.product-tabs-placeholder {
		display: none !important;
	}
}

@media (max-width: 480px) {
	.view-in-de-kijker .product-spotlight {
		padding: 0 0 75px 0;

		.btn-detail {
			bottom: 15px;
		}
	}

	.views-field-field-video-testimonial {
		margin-bottom: 15px;
	}
	.block-views-blockgetuigenissen-block-1 {
		padding: 30px 0;

		.view-getuigenissen .views-field-body {
			padding: 20px 0 30px;
			margin-bottom: 0;

			p { margin-bottom: 0; }

			&::before,
			&::after {
				font-size: 2rem;
			}
			&::after {
				bottom: 0;
			}
		}
	}


	.intrests,
	.product-images {
		padding: 20px 0;
	}
}

@media (max-width: 420px) {
	#navbar-main {
		/*.col,
		.col-auto {
			flex: 1 1 100%;
			width: 100%;
		}*/

		.float-xs-right {
			float: none!important;
		}
	}

	.navbar-brand {
		display: block;
		float: none;
		padding: 15px 0;
		margin: 0 auto;
		text-align: center;
	}

	.navbar-toggler {

	}

	.block-title {
		padding-left: 0;
		padding-right: 0;
	}

	.btn {
		max-width: 100%;
		white-space: normal;
	}
}

@media (max-width: 370px) {
	#navbar-main .col:nth-child(2) {
		padding-left: 0;
	}
	.navbar-toggler .text {
		display: none;
	}
}

@media (max-width: 320px) {
	.site-logo img {
		width: 190px;
	}

	.block-search-form-block .form-type-search input {
		width: 110px;
	}
}