/**
 * @file
 * Subtheme specific CSS.
 */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700');
@import 'animate';

$primary_color: #f59f07;
$secondary_color: #44a8d7;

body{
    font-family: 'Titillium Web', sans-serif;
}

html, body{
    overflow-x: hidden;
}

/* general */

.btn {
  line-height: 1.5;
}
.text-center {
  text-align: center;
}
.position-static {
    position: static !important;
}

.initial-popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 500;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;

  .initial-popup--popup{
    width: 900px;
    max-width: 100%;
    align-self: center;
    border: 2px solid #ffffff;
    background: #ffffff;

    .initial-popup--header{
      text-align: center;
      padding: 5px;

      h5 {
          display: inline-block;
          padding: 15px 25px;
          text-transform: uppercase;
          font-size: 1.4em;
          font-weight: bold;
          position: relative;
          margin: 0;
          text-align: center;

          &:before, &:after{
              content: '';
              position: absolute;
              width: 20px;
              height: 20px;
          }

          &:before {
              left: 0;
              bottom: 0;
              border-left: 3px solid $primary_color;
              border-bottom: 3px solid $primary_color;
          }

          &:after {
              right: 0;
              top: 0;
              border-right: 3px solid $primary_color;
              border-top: 3px solid $primary_color;
          }
      }
    }
    .initial-popup--content{
      position: relative;
      z-index: 502;
      .initial-popup--column{
        width: 50%;
        float: left;
      }
    }

    .initial-popup--link{
      border: 2px solid #ffffff;
      position: relative;
      display: block;
      overflow: hidden;
      text-align: center;

      &:hover{
        .initial-popup--info{
          background: $primary_color;
          color: #ffffff;
        }
      }

      .initial-popup--info{
        display: inline-block;
        padding: 10px;
        color: #000000;
        font-weight: bold;
        text-transform: uppercase;
        max-width: 280px;
        border: 2px solid $primary_color;
        margin: 10px 0 8px 0;
        h5{
          margin: 0;
          font-size: 1em;
        }
      }
    }
  }
}

#navbar-main{
    padding: 0;
}

.view-personeel{
  h3{
    display: flex;
    flex: 0 0 100%;
    padding: 0 15px;
    margin-bottom: 30px;
    color: #cccccc;
    font-weight: bold;
  }

  .views-row{
    margin-bottom: 30px;

    .person{
      position: relative;

      &:hover{
        .person-info{
          opacity: 1;
        }

        .person-image{
          img{
            transform: scale(1.1,1.1);
          }
        }
      }

      .person-info{
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        background: rgba(255,255,255, .8);
        padding: 10px;

        opacity: 0;
        transition: .2s all;

        .person-title{
          color: #000000;
          font-weight: bold;
          font-size: 1.2em;
        }
      }
    }

    .person-image{
      position: relative;

      img{
        max-width: 100%;
        height: auto;
        transition: .2s all;
        transform: scale(1,1);
      }
    }
  }
}

#orderModal{

    .item-info{
        padding: 15px;
        h6{
            font-weight: bold;
        }
        .table{
            float: none;
            tbody, tfoot{
                td{
                    color: #000000;
                }
            }
        }
    }

    

    .form-type-number{
        float: left;
        width: 50%;
        padding: 0 15px;
    }

    .modal-body{
        padding: 15px 0;
        &:after{
            display: block;
            clear:both;
            content:'';
        }
    }

    .modal-header{
        .modal-title{
            display: inline;
        }
    }
}

.product-order{
    padding: 15px 30px 0 30px;
    margin: 0 -15px;

    .text-formatted{
      padding: 0 15px;
      width: 100%;
    }

    .js-form-type-select, .item_price{
      float: left;
      width: 33.33%;
      clear: none;
    }

    &:after{
      content: '';
      display: block;
      clear:both;
    }
}

.product-pricing{
  padding: 0 30px 0 30px;
  margin: 0 -15px;

  .item_price{
      float: left;
      width: 33.33%;
      padding: 0 15px;

      label{
        display: block;
        width: 100%;
      }

      span{
        line-height: calc(2.5rem - 2px);
        font-size: 1.4rem;
        font-weight: bold;
      }
    }

  .form-item-amount{
    padding: 0 15px;
    width: 33.33%;
    float: left;
  }

  &:after{
    content: '';
    display: block;
    clear: both;
  }

}

.product-actions{
  padding: 15px 30px;
  margin: 0;
  background: #fff;
  border-top: 1px solid #ddd;

  .btn{
    float: right;
  }

  &:after{
    content: '';
    display: block;
    clear: both;
  }
}

#order_form_wrapper{
  //padding: 50px;
  background: #F8F8F8;
  border: 1px solid #dddddd;
  max-width: 900px;
}

.spb-popup-main-wrapper{
  border: none;
  padding: 15px 5px 10px;

  &:before, &:after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
  }

  &:before{
    left: -10px;
    bottom: -10px;
    border-left: 3px solid #f59f07;
    border-bottom: 3px solid #f59f07;
  }

  &:after{
    right: -10px;
    top: -10px;
    border-right: 3px solid #f59f07;
    border-top: 3px solid #f59f07;
  }
}

.spb_close{
  border: none;
  background-color: black;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-weight: bold;
}

.field--type-entity-reference{
  margin: 0;
}

#contact-message-machine-contacteer-mij-form,
#contact-message-plan-nu-uw-gesprek-met-uw-expert-form,
#contact-message-commercieel-medewerker-form,
#contact-message-machine-krijg-nu-een-offerte-form{
    .field--name-field-e-mailadre{
        display:none;
    }
}
#contact-message-plan-nu-uw-gesprek-met-uw-expert-form,
#contact-message-machine-contacteer-mij-form,
#contact-message-machine-krijg-nu-een-offerte-form {
  display: none;
  text-align: left;

  label{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8em;
  }

  .form-type-textfield,
  .form-type-email,
  .form-type-select {
    float: none;
    width: 100%;
  }

  .form-inline {
    overflow: hidden;
  }
  .form-inline .form-group {
      clear: none;
      display: block;
      width: 33.33%;
      float: left;
      padding-right: 5px;
      padding-bottom: 10px;
  }

  .field--type-datetime .js-form-type-select {
    width: 33.33%;
    select { width: 100%; }
  }
  .button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.captcha{
  padding: 0 15px;
  margin-bottom: 30px;
}

.captcha::after{
  content: '';
  display: block;
  clear: both;
}

.g-recaptcha{
  float: right;
}

.spb_overlay {
    width: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 50px 10px;
}

.spb-popup-main-wrapper {
    position: relative;
}
.spb_center {
    top: 0;
    left: 0;
    margin: 0 auto 30px;
    max-width: 100%;
}

.spb-controls{
  right: 0;
  top: 0;
}

.bg-orange{
    background: linear-gradient(135deg, #f59f07 0%, #f59f07 41%, #ec8506 57%, #ec8506 100%);
}

.subscribe-newsletter{
  padding: 25px 0;

  .d-flex{
    display: flex;
    align-items: center;
  }

  h6{
    font-size: 2em;
    font-weight:bold;
    color: #ffffff;
    margin: 0;
  }

  #iframe_flxml_form{
    #btn-send{
      padding: 10px;
      border: 1px solid #ffffff;
      color: #ffffff;
      background: transparent;
    }
  }
}

.field--name-field-website-merk{
    display: flex;
    align-items: center;

    a{
        display: block;
        padding: 9px;
        text-align: center;
        border: 1px solid $primary_color;
        color: $primary_color;
        text-transform: uppercase;
        border-radius:0;
        width:100%;

        &:hover{
            background: $primary_color;
            color: #ffffff;
        }
    }
}

.block-cta{
    padding: 40px 0;
    color: #ffffff;
    //margin-top: 60px;
    //margin-bottom: -40px;
    background: #1d1c1c;

    .block-cta-button{
        display: flex;
        align-items: center;
    }

    .text-formatted{
        p{
            margin: 0;
            font-size: 2em;
        }
    }

    .field--type-link{
        width: 100%;
        a{
            display: block;
            padding: 9px;
            text-align: center;
            border: 1px solid #ffffff;
            color: #ffffff;
            text-transform: uppercase;
            border-radius:0;
            width:100%;
            font-size: 1.2em;
            font-weight: bold;

            &:hover{
                background: #ffffff;
                color: $primary_color;
            }
        }

    }
}

.navbar.top-header{
    //height: 40px;
    background: #000000;
    color: #ffffff;
    font-size: .8em;
    padding: 0;

    .menu--menu-top{
        .nav-link{
            display: block;
            padding: 5px 15px;
            color: $primary_color;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.8em;
            position: relative;

            &:after{
                display: block;
                font: normal normal normal 14px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: '\f0ad';
                float: right;
                margin-left: 5px;
            }

            &:before{
                width: 0;
                height: 0;
                border-left: 65px solid transparent;
                border-right: 65px solid transparent;
                border-top: 8px solid #000;
                content: '';
                display: block;
                position: absolute;
                top: 100%;
                z-index:10;
                left: 0;
            }
        }
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
    }

    p{
        margin: 0;
    }

    a{
        color: #ffffff;
        font-weight: bold;

    }

    .navbar-nav .nav-link{
        padding: 0;
    }

    .top-left-content{
        padding-top: .2rem;
        padding-bottom: .2rem;
    }
}

.navbar{
    border-radius: 0;
}

.site-logo img{
    width: 280px;
    max-width: 100%;
    margin-right: 0;
}

.navbar-brand{
    margin-right: 0;
    padding: 15px 0;

    .site-logo {
      margin-right: 0;
    }
}

.navbar-toggler {
  float: right;
  margin-top: 15px;
  margin-bottom: 5px;
  border: 1px solid #000;
  width: auto;
  text-transform: uppercase;
  font-size: 1rem;
}
.navbar-toggler + .navbar-nav {
  clear: both;
}

.product-tabs-placeholder{
    display: none;
}
.cta-left-fixed-placeholder{
    display: none;
}
.cta-left-fixed{
  max-width: 100%;

    &.fixed{
        position: fixed;
        top: 15px;
        z-index: 100;

        +.cta-left-fixed-placeholder{
            display: block;
        }
    }
}

.field--name-field-videos{
    margin: 0 -7px;

    &:after{
        content: '';
        display: block;
        clear: both;
    }

    .field__item{
        float: left;
        width: 50%;
        padding: 0 7px;
        margin-bottom: 14px;
    }
}

.product-tabs{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background:#efefef;
    margin: 0;
    transition: .5s all;

    &.fixed{
        position: fixed;
        top: 0;
        z-index: 100;

        +.product-tabs-placeholder{
            display: block;
        }
    }

    li{
        display: flex;
        flex-grow: 1;
        //border-right: 1px solid #dddddd;
        border-bottom: 2px solid $primary_color;

        a{
            display: block;
            padding: 10px 5px;
            text-align: center;
            width: 100%;
            color: #444444;
            position: relative;
            text-transform: uppercase;
            font-size: .8em;

            &:before, &:after{
                opacity: 0;
                transition: .5s all;
            }

            &:hover, &.active{
                background: $primary_color;
                text-decoration: none;
                color: #ffffff;
                border-top: 2px solid darken($primary_color, 10%);
            }
        }

        &:first-child{
            //border-left: 1px solid #dddddd;
        }

        &:last-child{
            margin-right: 0;
        }
    }
}

.contact-message-contact-form{
    textarea, input{
        background: transparent;
        border: 1px solid #fff;
        color: #F8F8F8;
    }

    textarea{
        height: 120px;
    }

    form{
        margin: 0 -15px;
        width: auto;
    }


}

.field--type-string-long, .form-actions, .js-form-type-select, .field--type-datetime{
    clear: both;
    padding: 0 15px;
}

.form-type-textfield, .form-type-email{
    float: left;
    width: 50%;
    padding: 0 15px;

    .form-text{
        margin-top: 0;
    }
}

.field--type-datetime{
  .js-form-type-select{
    padding: 0;

    select{
      padding: 0 .75rem;
    }
  }
}

.view-getuigenissen, .view-reviews{
  .slick-prev, .slick-next{
    width: 30px;
    height: 30px;

    &:before{
      font-size: 30px;
    }
  }

  .slick-prev{
    left: -35px;
  }

  .slick-next{
    right: -35px;
  }
}


.menu--main{
    .nav-item{
        .nav-link{
            font-size: 1em;
            color: #000000;
            padding: 25px 15px;
            border-bottom: 3px solid transparent;
            text-align: center;
            position: relative;
            text-transform: uppercase;

            &.is-active{
                color: $primary_color;
                border-bottom-color: $primary_color;
            }

            &:before{
                content: '';
                position: absolute;
                width: 1px;
                display: block;
                height: 30px;
                background: #aaaaaa;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &:last-child{
            .nav-link{
                padding-right: 0;
                &:before{
                    display: none;
                }
            }
        }

        + .nav-item{
            margin: 0;
        }
    }
}

/* SIDE FILTER */
/* --------------------------------------------------*/
.side-filter{
    background: #F8F8F8;
    padding: 20px;

    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: block;
        width: 100%;
        margin-bottom: 20px;

        li{
            padding: 3px;
            input{
                float: left;
                margin: 5px;
            }
        }
    }
    .title{
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 10px;
        font-size: 1.2em;
        border-bottom: 1px solid $primary_color;
        display: block;
    }
    .btn{
        width: 100%;
        border: 1px solid #f59f07;
        background: none;
        color: #f59f07;
    }
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

/* HOME SLIDER */
/* --------------------------------------------------*/
.home-slider-top{
    .home-slide{
        position: relative;
        background-size: cover;
        overflow: hidden;

        /*img{
          max-width: 100%;
        }

        .home-slide-content{
            //min-height: 500px;
            .row {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }*/

        .home-slide-text{
            text-align:right;
            background: rgba(0,0,0,0.6);
            color: #ffffff;
            padding: 25px 50px;
            float: right;
            position: relative;
            font-size: 1.2em;

            &:after{
                content: '';
                background: rgba(0,0,0,0.6);
                width: 99999px;
                position: absolute;
                right: -99999px;
                height: 100%;
                top: 0;
                display: block;
            }

            p{
                margin: 0;
            }
        }
    }
}

/*.slide-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1d1c1c;
}
.slide-img__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        display: block;
        flex: 0 1 auto;
        max-width: 100%;
        max-height: 100%;
        min-height: 1px;
        width: auto;
        height: auto;
    }
}*/


/*Left pointing*/
.triangle-left-bottom {
    position: absolute;
    width: 30px;
    height: 50%;
    left: -30px;
    bottom: 0px;
    background: linear-gradient(to left bottom, rgba(0,0,0,0.6) 50%, transparent 50%);
}

.triangle-left-top {
    position: absolute;
    width: 30px;
    height: 50%;
    left: -30px;
    top: 0px;
    background: linear-gradient(to left top, rgba(0,0,0,0.6) 50%, transparent 50%);
}

.unslider{
    position: relative;

    &:hover{
        .unslider-arrow{
            opacity: 1;
        }
    }

    .unslider-arrow{
        position: absolute;
        width: 60px;
        height: 100%;
        top: 0;
        z-index: 10;
        background: rgba(0,0,0,0.2);
        opacity: 0;
        transition: .2s all;

        span{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            font-size: 4em;
            color: #ffffff;
        }

        &.next{
            right: 0;
        }

        &.prev{
            left: 0;
        }
    }

    .unslider-nav{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 5px;

        ol{
            li{
                display: inline-block;
                width: 10px;
                height: 10px;
                background: rgba(255,255,255,0.6);
                text-indent: -999999px;
                border-radius: 50%;
                margin: 0 5px;
                z-index: 10;
                cursor: pointer;

                &.unslider-active{
                    background: #ffffff;
                }
            }
        }
    }
}

.product-cta{
    z-index: 5;
    position: absolute;
    right: -1px;

    margin-top: -110px;
    background: rgba($secondary_color, .8);
    background: lighten($secondary_color, 10%);
    background-color: $secondary_color;
    color: #fff;
    padding: 30px 40px;
    border: 1px solid rgba(#fff, .6);
    box-shadow: 0 5px 15px rgba(#000, .2);
    animation: slide-from-right 1s ease-out;

    #btn_show_offer, .field--name-field-cta-link a {
        display: inline-block;
        margin-top: 20px;
        color: $secondary_color;
        background-color: #fff;
        border: 1px solid #fff;
        padding: 3px 10px;
        border-radius: 0;
        text-decoration: none;
        transition: color .15s ease-in-out, background .15s ease-in-out;

        &:hover {
            background-color: $secondary_color;
            color: #fff;
        }
        &:active {
            background-color: $secondary_color;
            color: #fff
        }
    }

    ul{
        padding: 0;
        margin: 0;
    }

    .field--name-field-link{
        a{
            color: #ffffff;
            margin-top: 0;
            padding: 3px 10px;
            border: 1px solid #ffffff;
            text-align: center;
            display: block;
            border-radius: 10px;

            &:hover{
                text-decoration: none;
                color: $secondary_color;
            }
            &:active {
                color: $primary_color;
                background-color: #fff;
            }
        }
    }
}
@media (max-width: 768px) {
    .product-cta {
        display: none;

        float: none;
        position: static;
        margin-top: 15px;
        box-shadow: none;
        animation: none;
        padding: 20px;
        ul {
            padding-left: 15px;
        }
    }
}

@keyframes slide-from-right {
    0% {
        opacity: 0;
        transform: translateX(100vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/* CONTACTEER ONS */
/* --------------------------------------------------*/
.contacteer-ons-cta{
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#68a7c8+0,44a8d7+100 */
    background: rgb(104,167,200); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(104,167,200,1) 0%, rgba(68,168,215,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(104,167,200,1) 0%,rgba(68,168,215,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(104,167,200,1) 0%,rgba(68,168,215,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68a7c8', endColorstr=$secondary_color,GradientType=1 ); /* IE6-9 */
    text-align: center;
    padding: 20px;
    color: #ffffff;

    .region-representative{
      a{
        color: $primary_color;
      }
    }

    a{
        display: inline-block;
        color: #ffffff;
    }

    .field--name-field-info{
        margin-bottom: 10px;
        font-weight: 100;
    }

    .field--name-body{
        font-size: 1.4em;
        font-weight: 100;

        a{
            font-weight: bold;
        }
    }

    .field--type-link{
        margin-top: 20px;
        background: $primary_color;

        a{
            color: #ffffff;
            text-transform: uppercase;
            font-size: 1em;
            padding: 5px 10px;
            display: block;
            font-weight: bold;
        }

    }
}

.d-flex{
    display: flex;
}

.d-flex-center{
    align-items: center;
    justify-content: center;
}

.contact-message-commercieel-medewerker-form,
.contact-message-ik-contacteer-een-service-medewe-form{
    padding-top: 30px;
    text-align: center;

    textarea{
        height: 120px;
    }

    label{
        display: none;
    }
}

.field--name-body,
.block-title,
.contact-message-commercieel-medewerker-form,
.contact-message-ik-contacteer-een-service-medewe-form{
    h1, h2 {
        display: inline-block;
        padding: 15px 25px;
        text-transform: uppercase;
        font-size: 1.4em;
        font-weight: bold;
        position: relative;
        margin: 0 0 30px 0;
        text-align: center;

        &:before, &:after{
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
        }

        &:before {
            left: 0;
            bottom: 0;
            border-left: 3px solid $primary_color;
            border-bottom: 3px solid $primary_color;
        }

        &:after {
            right: 0;
            top: 0;
            border-right: 3px solid $primary_color;
            border-top: 3px solid $primary_color;
        }
    }
}



#block-contactblok-3 {
    h1, h2 {
        &::before {
            top: 0;
            border-top: 3px solid $primary_color;
            border-bottom: none;
        }
        &::after {
            top: auto;
            bottom: 0;
            border-top: none;
            border-bottom: 3px solid $primary_color;
        }
    }
}

/* Overzicht nieuws en tips */
.block-title{
    text-align: center;
    padding: 50px 50px 20px 50px;
}

.view-laatste-nieuws-en-tips{
    .views-row:nth-child(3n), .views-row:nth-child(4n) {
        .article-wrapper{
            >div:first-child{
                -webkit-box-ordinal-group: 2;
                -webkit-order: 1;
                -ms-flex-order: 1;
                order: 1;
            }
        }
    }
}

.node--view-mode-teaser{
    border: none;
    margin: 0;
    padding: 0;

    h1, h2{
        padding-top: 0;
    }

    img{
        max-width: 100%;
        height: auto;
        margin: 0;
    }

    .field--type-image{
        margin: 0;
    }

    .article-content{
        font-size: 0.9em;
        color: #151515;
        padding: 10px 25px;

        h1, h2{
            font-size: 1.4em;
        }
    }

    .article-wrapper{
        &:hover{
            text-decoration: none;

            .article-image{
                span{
                    opacity: 1;
                    transition-delay: 0.1s;
                }

                &:before{
                    opacity: 1;
                }
            }

            .article-content{
                h1, h2{
                    color: $primary_color;
                }

            }
        }
    }

    .article-image{
        position: relative;
        display: block;

        span{
            opacity: 0;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            padding: 5px 10px;
            color: #ffffff;
            border: 1px solid #ffffff;
            text-transform: uppercase;
            transition: 0.3s all;
            transition-delay: 0s;
        }

        &:before{
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
             top: 0;
               background: rgba($primary_color, 0.7);
               transition: 0.4s all;
               opacity: 0;
        }
    }
}

/* Product hoofdcategorieën */
/* --------------------------------------------------*/
.block-views-blockhoofdcategorieen-block-1{
    background: #efefef;
    position: relative;
    margin-bottom: 1px;

    &:after{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: -1px;
        left: 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d9cebf+50,7db9e8+100&0+0,1+50,0+100 */
        background: -moz-linear-gradient(left, rgba(217,206,191,0) 0%, rgba(217,206,191,1) 50%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(217,206,191,0) 0%,rgba(217,206,191,1) 50%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(217,206,191,0) 0%,rgba(217,206,191,1) 50%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d9cebf', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
    }

    .productcategories{
        display: block;
        margin: 0;

        .item-category{
            float: left;
            width: 10%;
            display: block;
            text-align: center;
            padding: 20px 10px;
            font-size: 0.7em;
            text-transform: uppercase;
            position: relative;

            &:after{
                position: absolute;
                content: '';
                display: block;
                width: 1px;
                height: 90%;
                top: 5%;
                right: 0;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d9cebf+50,7db9e8+100&0+0,1+50,0+100 */
                background: -moz-linear-gradient(top, rgba(217,206,191,0) 0%, rgba(217,206,191,1) 50%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(217,206,191,0) 0%,rgba(217,206,191,1) 50%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(217,206,191,0) 0%,rgba(217,206,191,1) 50%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d9cebf', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
            }

            &:last-child:after{
                display: none;
            }

            &:hover{
                .category-image{
                    img{
                        transform: scale(1.1,1.1);
                    }
                }
            }

            .category-image{
                a{
                    display: block;
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img{
                        max-width: 90%;
                        max-height: 60%;
                        height: auto;
                        width: auto;
                        transition: 0.2s all;
                    }


                }
            }

            a{
                color: #000000;
            }
        }

        &:after{
            content: '';
            display: block;
            clear: both;
        }
    }
}

/* IN DE KIJKER */
/* --------------------------------------------------*/
.view-in-de-kijker{
    .slick-track{
        display: flex;
        /*flex-flow: row wrap;*/
        justify-content: space-around;
    }
    .slick-initialized .slick-slide{
        //display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        float: none;
        height: auto;
    }
    .slick-arrow{

        &.slick-prev, &.slick-next{
            top: 35%;
        }

        &:before{
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #000000;
            opacity: 0.5;
        }
        &.slick-prev{
            &:before{
                content: "\f053";
            }
        }
        &.slick-next{
            &:before{
                content: "\f054";
            }
        }
    }
    .product-spotlight{
        padding: 15px 30px 80px 30px;
    }
}

.view-machines{
    .product-spotlight.line-right:nth-child(3n){
        &:after{
            display: none;
        }
    }
}

.view-taxonomy-term, .view-zoekresultaten, .view-_e-hands{
    padding-top: 40px;
    padding-bottom: 40px;

    .product-spotlight{
        padding: 15px 30px 80px 30px;
    }
}

.product-spotlight{
    padding: 30px;
    position: relative;
    text-align: center;

    .field--name-body,
    .views-field-body {
        display: inline-block;
        text-align: left;
    }

    &.slick-current + .slick-active{
        &:before, &:after{
            position: absolute;
            content: '';
            display: block;
            width: 1px;
            height: 90%;
            top: 5%;
            right: 0;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d9cebf+50,7db9e8+100&0+0,1+50,0+100 */
            background: -moz-linear-gradient(top, rgba(217,206,191,0) 0%, rgba(217,206,191,1) 50%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(217,206,191,0) 0%,rgba(217,206,191,1) 50%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(217,206,191,0) 0%,rgba(217,206,191,1) 50%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d9cebf', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
        }

        &:before{
            right: auto;
            left: 0;
        }
    }

    .views-field-title, .views-field-name, .node__title{
        transition: 0.2s all;
        margin-bottom: 10px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.8em;

        a{
            color: #000000;
        }
    }

    .views-field-body{
        transition: 0.2s all;
        font-size: 0.8em;
        color: #676767;
        text-align: left;
    }

    .product-thumb-image,
    .field--name-field-product-afbeelding{
        transition: 0.2s all;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        a {
          display: block;
          width: 100%;
        }

        img{
            max-width: 100%;
            height: auto;
            width: auto;
            max-height: 200px;
            margin: 0 auto;
        }
    }

    .btn-detail{
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        /*visibility: hidden;
        opacity: 0;
        transition: 0.2s all;
        transform: translateX(-50%) scale(0.4, 0.4);*/

        a{
            color: #000000;
            border: 2px solid #000000;
            display: inline-block;
            padding: 5px 10px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.8em;
            &:after{
                font-weight: bold;
                font-size: 1.6em;
                line-height: 1em;
                content:'\2794';
                margin-left: 5px;
                float: right;
                display: block;
            }
        }
    }

    &:hover{

        .views-field-body, .product-thumb-image, .field--name-field-product-afbeelding{
            transform: scale(1.1,1.1);
        }

        .views-field-title, .views-field-name, .node__title{
            transform: scale(1.3,1.3);
            a{
                color: $primary_color;
            }
        }

        .product-promo{
            transform: scale(1.1,1.1);
        }

        /*.btn-detail{
            visibility: visible;
            opacity: 1;
            transform: translateX(-50%) scale(1, 1);
        }*/
    }
}

.product-promo{
    transition: 0.2s all;
    position: absolute;
    right: 30px;
    top: 20%;
    display: block;
    padding: 5px 15px;
    background: linear-gradient(135deg, #f59f07 0%, #f59f07 41%, #ec8506 57%, #ec8506 100%);
    color: #ffffff;
    font-weight: bold;
    z-index: 5;
    min-width: 30%;

    &:after{
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        width: 0;
        height: 0;
        border-top: 10px solid darken($primary_color, 15%);
        border-right: 10px solid transparent;
    }
}

/*
* FILTER
*/
.shs-container{
    + select{
        display: none;
    }
}

/* ABOUT US */
.page-node-1{
  #block-detollenaere-content{
    margin-bottom: 40px;
  }
}

.page-user-login main .region-content,
.page-user-password main .region-content{
  max-width: 1140px;

  .form-type-textfield, .form-type-email, .form-type-password{
    float: none;
    width: 100%;
    padding: 0 15px;

    .form-text{
      margin-top: 0;
    }
  }

  form{
    margin: 0 -15px;
    padding: 15px;
  }
}

nav.tabs{
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px;
  .nav-tabs.primary{
    .nav-item{
      &.active{
        .nav-link{
          background: $primary_color;
          color:#ffffff;
          border-color: $primary_color;

          &:hover{
            background: $primary_color;
          }
        }
      }
      .nav-link{
        background: #F8F8F8;
        color: #000000;

        &:hover{
          background: #eeeeee;
        }
      }
    }
  }
}


/* REVIEWS */
/* --------------------------------------------------*/
.block-views-blockreviews-block-1{
  padding: 70px 0;
  background-image: url('/themes/detollenaere/img/bg-testimonials.jpg');
  background-size:cover;
  position: relative;

  .block-title{
    padding: 0;
    position: relative;
    z-index: 1;

    h1, h2{
      color: #ffffff;

      &:before, &:after{
        display: none;
      }
    }
  }

  &:after{
      content: '';
      background: #000000;
      opacity: 0.8;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      top: 0;
  }

  .view-reviews{
    position: relative;
    z-index: 5;
    color: #ffffff;
    text-align: center;
  }

  .review-body{
    padding: 10px 40px;
  }

  .review-client{
    position: relative;
    display: inline-block;
    padding: 0 40px;
    text-transform: uppercase;
    font-weight: bold;

    &:before, &:after{
        display: block;
        content: '';
        width: 20px;
        height: 1px;
        background: #ffffff;
        top: 50%;
        position: absolute;
    }

    &:before{
        left: 0;
    }
    &:after{
        right: 0;
    }
  }
}

/* GETUIGENISSEN */
/* --------------------------------------------------*/
.block-views-blockgetuigenissen-block-1{
    padding: 70px 0;
    background-image: url('/themes/detollenaere/img/bg-testimonials.jpg');
    background-size:cover;
    position: relative;

    &:after{
        content: '';
        background: #000000;
        opacity: 0.8;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .view-getuigenissen{
        position: relative;
        z-index: 5;
        color: #ffffff;
        text-align: center;

        .views-field-title{
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 1.4em;
            line-height: 1.1;

            a{
                color: #ffffff;
                text-transform: uppercase;
            }
        }

        .views-field-body{
            font-style: italic;
            font-weight: 100;
            margin-bottom: 40px;
            position: relative;
            padding: 20px 40px;

            &:before, &:after{
                display: block;
                position: absolute;
                content: '“';
                font-size: 4em;
                line-height: 1em;
            }

            &:before{
                left: 0;
                top: 0;
            }

            &:after{
                right: 10px;
                bottom: -15px;
            }
        }

        .views-field-field-persoon{
            text-transform: uppercase;
            font-weight: 100;

            .field-content{
                position: relative;
                display: inline-block;
                padding: 0 40px;

                &:before, &:after{
                    display: block;
                    content: '';
                    width: 20px;
                    height: 1px;
                    background: #ffffff;
                    top: 50%;
                    position: absolute;
                }

                &:before{
                    left: 0;
                }
                &:after{
                    right: 0;
                }
            }
        }
    }
}

/* PRODUCT DETAIL */
/* --------------------------------------------------*/
.product-details{
    background: #ffffff;
    padding: 0 0 50px 0;

    .row{
        /*width:100%;*/
    }

    .block-title{
      margin-top: 30px;
        padding: 0;
        text-align: left;
    }

    .reference{
        margin-bottom: 10px;
        .field__label{
            float: left;
            font-weight: bold;
            text-transform: uppercase;
            margin-right: 10px;
        }
    }

    .field--name-field-product-afbeelding,
    .image-center {
        text-align: center;
        float: none;
        margin: 0;

        img{
            max-width: 200px;
            max-height: 200px;
            width: auto;
            height: auto;
            margin: 0 auto 1em;
        }
    }
}

.product-bottom{
    background: #efefef;
}

.intrests, .product-images{
    padding: 50px 0;
}

.product-images h2{
    font-size: 1.6em;
    font-weight: 100;
}

.field--type-image.field--name-field-afbeeldingen{
        margin: 0;
        float: none;
        width: 100%;

        .field__item{
            float: left;
            width: 25%;
            text-align: center;
            padding: 15px;

            img{
                width: auto;
                height: auto;
                max-width: 100%;
                margin: 0;
            }
        }
    }

.file--application-pdf{
    background-image: url('/themes/detollenaere/img/pdf.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 30px;

    a{
        color: #151515;
        font-weight: bold;
    }
}

.line-right{
    position: relative;

    &:after{
        position: absolute;
        content: '';
        display: block;
        width: 1px;
        height: 90%;
        top: 5%;
        right: 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d9cebf+50,7db9e8+100&0+0,1+50,0+100 */
        background: -moz-linear-gradient(top, rgba(217,206,191,0) 0%, rgba(217,206,191,1) 50%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(217,206,191,0) 0%,rgba(217,206,191,1) 50%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(217,206,191,0) 0%,rgba(217,206,191,1) 50%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d9cebf', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
    }
}

/* VERTEGENWOORDIGER */
.representative{
    margin-top: 30px;
    background: #efefef;
    padding: 15px;
    .text-formatted h3{
        color: $secondary_color;
        font-size: 1.4em;
        font-weight: normal;
        text-transform: none;
    }
    p{
        font-size: 0.9em;
    }
    .repr-name, .repr-detail{
        font-weight: bold;
        font-size: 0.9em;
    }
    .repr-name{
        text-transform: uppercase;
    }
    .repr-link{
        text-align: center;
        margin: 10px 0;

        a{
            background: $secondary_color;
            color: #ffffff;
            padding: 5px 10px;
            display: inline-block;
            text-transform: uppercase;
            font-size: 0.8em;
        }
    }
    img {
      max-width: 100%;
      height: auto;
    }
}

#edit-help-link{
    display: none;
}

.section-search-page{
    h1, h2{
        display: none;
    }

    .search-form{
        display: none;
    }

    .block-title{
        h1, h2{
            display: inline-block;
        }
    }

    ol.search-results{
        .search-result__title{
            font-size: 1.4em;
            a{
                color: $primary_color;
            }
        }
    }
}

/* FOOTER */
/* --------------------------------------------------*/
.site-footer{
    padding: 0;
    background: #313131;
    font-family: 'Titillium Web', sans-serif;

    .content{
      color: #ffffff;
        a{
            color: #ffffff;
        }

        .view-footer-categorieen{
            ul{
                padding: 0;
                margin: 0;

                li{
                    width: 50%;
                    float: left;
                    padding:3px 15px;
                    position: relative;
                    font-weight: 100;

                    &:before{
                        display: block;
                        font: normal normal normal 14px/1 FontAwesome;
                        color: #ffffff;
                        content: "\f105";
                        font-size: 1.2em;
                        position: absolute;
                        top: 5px;
                        left: 2px;
                        opacity: 0.4;
                    }
                }

                &:after{
                    display: block;
                    content: '';
                    clear: both;
                }
            }
        }
    }

    .block{
        margin: 0;
        border: none;

        .block-title{
            padding: 0;
            text-align: left;
        }
    }

    h2{
        padding: 0;
        font-size: 1em;
        color: $primary_color;
        margin: 0 0 15px 0;

        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;

        &:before, &:after{
            display: none;
        }
    }

    .footer-left, .footer-right{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer-right{
        background: #1d1c1c;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            right: -9999px;
            width: 9999px;
            height: 100%;
            background: #1d1c1c;
            display: block;
            top: 0;
        }
    }
}

/* FLIPPY */
.region-content ul.flippy{
    background: #efefef;
    margin-bottom: 40px;

    li{
        position: relative;

        a{
            padding: 20px;
            display: inline-block;
            color: #676767;
            font-size: 0.9em;
            text-transform: uppercase;
            font-weight: bold;
        }

        &:after{
                position: absolute;
                content: '';
                display: block;
                width: 1px;
                height: 100%;
                top: 0;
                right: 0;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d9cebf+50,7db9e8+100&0+0,1+50,0+100 */
                background: -moz-linear-gradient(top, rgba(217,206,191,0) 0%, rgba(217,206,191,1) 50%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(217,206,191,0) 0%,rgba(217,206,191,1) 50%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(217,206,191,0) 0%,rgba(217,206,191,1) 50%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d9cebf', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
            }
    }
}

/* NIEUWS */
.related-articles{
    h2{
        text-transform: uppercase;
        font-weight: 100;
        color: #151515;
        font-size: 1.6em;
        display: block;
        padding: 0 0 15px 0;
        position: relative;

        &:after{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: -1px;
            left: 0;
            background: -moz-linear-gradient(left, rgba(217,206,191,0) 0%, #d9cebf 50%, rgba(125,185,232,0) 100%);
            background: -webkit-linear-gradient(left, rgba(217,206,191,0) 0%, #d9cebf 50%, rgba(125,185,232,0) 100%);
            background: linear-gradient(to right, rgba(217,206,191,0) 0%, #d9cebf 50%, rgba(125,185,232,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d9cebf', endColorstr='#007db9e8',GradientType=1 );
        }
    }

    a{
        font-size: 0.9em;
        color: #151515;
        text-decoration: underline;
    }
}

.article-content{
    padding: 0 40px;
}

/* SHADOW EFFECT */
#header, #block-zichtbaarformulierzoekresultatenpage-1
{
  position: relative;
}
#header:before,
#header:after,
#block-zichtbaarformulierzoekresultatenpage-1:before,
#block-zichtbaarformulierzoekresultatenpage-1:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 8px;
  width: 70%;
  top: 80%;
  max-width:300px;
  background: #aaa;
  box-shadow: 0 15px 15px #aaa;
  transform: rotate(-3deg);
}
#header:after, #block-zichtbaarformulierzoekresultatenpage-1:after
{
  transform: rotate(3deg);
  right: 8px;
  left: auto;
}
#navbar-main{
    background: #ffffff;
    position: relative;
    &:after{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: -1px;
            left: 0;
            background: -moz-linear-gradient(left, rgba(217,206,191,0) 0%, #d9cebf 50%, rgba(125,185,232,0) 100%);
            background: -webkit-linear-gradient(left, rgba(217,206,191,0) 0%, #d9cebf 50%, rgba(125,185,232,0) 100%);
            background: linear-gradient(to right, rgba(217,206,191,0) 0%, #d9cebf 50%, rgba(125,185,232,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d9cebf', endColorstr='#007db9e8',GradientType=1 );
        }
}

.contacteer-ons-cta
{
    position:relative;
    margin-top: 40px;
}
.contacteer-ons-cta:before
{
	content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 30px rgba(0,0,0,0.4);
    top:0;
    //bottom:0;
    left:10%;
    right:10%;
    border-radius:50%;
    height: 50px;
}

/* BREADCRUMB */
.region.region-breadcrumb{
    padding: 10px 0;
}
ol.breadcrumb{
    padding: 0;
    background: none;
    margin: 0;

    li{
        float: left;
        position: relative;

        &:after{
            content: '>';
            display: inline-block;
            padding: 0 10px;
        }

        &:last-child{
            &:after{
                display: none;
            }
        }

        a{
            color: #000000;
            text-decoration: underline;
            font-weight: bold;
        }
    }
}

/* MERKEN */
.brand-wrapper{
    float: left;
    width: 12.5%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    > * {
      flex: 0 1 auto;
      width: 100%;
      max-width: 100%;
    }

    img{
        -webkit-transition: .4s -webkit-filter linear;
        -moz-transition: .4s -moz-filter linear;
        -moz-transition: .4s filter linear;
        -ms-transition: .4s -ms-filter linear;
        -o-transition: .4s -o-filter linear;
        transition: .4s filter linear, .4s -webkit-filter linear;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 50px;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }

    &:hover{
        img{
            -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
            filter: grayscale(0%);
        }
    }
}

.path-frontpage, .page-node-481{
    .view-merken{
        margin: 0 auto;
        padding: 0 15px 50px;
    }

    #block-menutop{
      animation-fill-mode: none;

      &.animated{
        .nav-link{
          background-color: $primary_color;
          color: #000000;
          &:before{
            border-top-color: $primary_color;
          }
        }
      }
    }
}

.term-content{

    .vocabulary-merk{
        margin-bottom: 40px;
        position: relative;

        + .block-title{
            display: none;
        }

        .field--name-field-categorie-logo{
            /*display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            width: 30%;
            padding: 10px 20px;
            margin: 0;*/
            padding: 10px 0;

            img{
                max-width: 200px;
                max-height: 200px;
                margin: 0 auto 1em;
                width: 100%;
                height: auto;
            }
        }
    }

}

.view-vestigingen{
    color: #ffffff;
    font-size: 0.9em;

    .views-field-title{
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1em;
    }

    a{
        color: #ffffff;
        text-decoration: underline;
    }

    .views-label{
        float: left;
        margin-right: 10px;
    }
}

.site-footer__bottom{
    background: #000000;
    margin: 0;
    padding: 10px 0;

    h2{
        padding: 0 0 0 25px;
        font-size: 1em;
        color: #f59f07;
        text-transform: uppercase;
    }

    .contact-message-form{
        padding-left: 225px;
        background-image: url('/themes/detollenaere/img/brochure.png');
        background-size:contain;
        background-repeat: no-repeat;
        min-height: 120px;

        .form-group{
            width: 40%;
            float: left;
            padding: 0 10px;

            .form-control{
                border-radius: 0;
                border:none;
                background: #302e2e;
                color: #ffffff;
                font-size: .8em;
                height: 34px;
                line-height: 20px;
            }

            label{
                display: none;
            }
        }

        .button{
            border: 2px solid #ffffff;
            border-radius: 0;
            background: none;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.8em;
            margin-left: 10px;
        }

        #edit-preview{
            display: none;
        }

        &:after{
            content: '';
            display: block;
            clear: both;
        }
    }
}

.filter-dropdown{
    display: inline-block;
    position:relative;
    max-width: 100%;

    &.animate{
        -webkit-animation: fadeInFromNone 1.5s ease-out;
        -moz-animation: fadeInFromNone 1.5s ease-out;
        -o-animation: fadeInFromNone 1.5s ease-out;
        animation: fadeInFromNone 1.5s ease-out;
    }

    label.title{
        margin: 0;
        /*display: block;*/
        padding: 0.5rem 0.75rem;
        border: 1px solid #ffffff;
        color: #ffffff;
        background: transparent;
        border-radius: 0;
        font-style: italic;
        font-weight: 100;
        width: 350px;
        max-width: 100%;

        &:after{
                display: block;
                font: normal normal normal 14px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: '\f078';
                float: right;
                margin-top: 5px;
                margin-left: 8px;
            }
    }

    .dropdown-list{
        display: none;
        position: absolute;
        left: 0;
        min-width: 100%;
        top: 100%;
        background: #FFFFFF;
        z-index: 15;
        border: 1px solid #EEEEEE;
        border-top:none;
        border-radius: 0 0 5px 5px;
        padding: 10px;
        text-align: left;

        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);

        .btn{
            width: 100%;
            border: 1px solid $primary_color;
            background:none;
            color: $primary_color;

            &:hover{
                background: $primary_color;
                color: #ffffff;
            }
        }


        ul{
            padding: 0;
            margin: 0;
            li{
                list-style-type: none;
                padding: 5px;
                position: relative;

                input[type="radio"],
                input[type="checkbox"] {
                    position: absolute;
                    top: 11px;
                    left: 0;
                }

                label{
                    color: #000000;
                    padding: 0;
                    display: block;
                    padding-left: 15px;
                    margin-bottom: 0;
                    white-space: nowrap;

                    &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .dropdown-toggle:checked{
        +.title{
            background: #FFFFFF;
            color: #000000;
            + .dropdown-list {
                display: block;
            }
        }
    }
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.view-realisaties{
    .article-wrapper{
        background: #efefef;
        margin-bottom: 20px;

        h2.node__title{
            color: #000000;
            margin-bottom: 20px;
            text-transform: uppercase;
            font-size: 1.6em;
        }
    }

    .views-row:nth-child(2n){
        > article > a > div:first-child{
            -webkit-order: 1;
            -ms-flex-order: 1;
            order: 1;
        }
    }
}

.realisation-details{
    .realisation-header{
        background: #efefef;
        margin: 80px 0 60px 0;

        .field--name-field-image{
            margin: -30px 0;

            img{
                margin: 0;
                max-width: 100%;
                max-height: 500px;
                height: auto;
                width: auto;
            }
        }
    }

    .center-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .realisation-intro{
        font-size: .9em;
        padding: 20px;

        h2{
            font-size: 1.6rem;
        }
    }

    .realisation-bottom{
        .realisation-content{
            font-size: 0.9em;
            text-align: justify;
        }

        .field--type-image.field--name-field-afbeeldingen .field__item{
            width: 50%;
        }

        .btn-contact{
            padding: 15px;

            a{
                background: #000000;
                color: #ffffff;
                border-radius: 0;
                width: 100%;
            }
        }
    }
}

.text-formatted{
    h3{
        color: $primary_color;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.3em;
        margin: 0 0 10px 0;
    }

    p{
        margin-bottom: 20px;
    }
}

#views-exposed-form-zoekresultaten-page-1{
    display: none;
}

.orange-bar{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f59f07+0,ec8506+100 */
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f59f07+0,f59f07+41,ec8506+57,ec8506+100 */
        background: rgb(245,159,7); /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(245,159,7,1) 0%, rgba(245,159,7,1) 41%, rgba(236,133,6,1) 57%, rgba(236,133,6,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(245,159,7,1) 0%,rgba(245,159,7,1) 41%,rgba(236,133,6,1) 57%,rgba(236,133,6,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(245,159,7,1) 0%,rgba(245,159,7,1) 41%,rgba(236,133,6,1) 57%,rgba(236,133,6,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f59f07', endColorstr='#ec8506',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        padding: 25px 0 10px;
        color: #ffffff;

        img{
            margin: 0;
            max-width: 100%;
            height:auto;
            border: 1px solid #ffffff;
        }

        .text-rtl{
            text-align:right;
            ul{
                direction: rtl;
            }
        }
}

.block-views-exposed-filter-blockzoekresultaten-page-1 {
    z-index: 5;
    .content{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f59f07+0,ec8506+100 */
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f59f07+0,f59f07+41,ec8506+57,ec8506+100 */
        background: rgb(245,159,7); /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(245,159,7,1) 0%, rgba(245,159,7,1) 41%, rgba(236,133,6,1) 57%, rgba(236,133,6,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(245,159,7,1) 0%,rgba(245,159,7,1) 41%,rgba(236,133,6,1) 57%,rgba(236,133,6,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(245,159,7,1) 0%,rgba(245,159,7,1) 41%,rgba(236,133,6,1) 57%,rgba(236,133,6,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f59f07', endColorstr='#ec8506',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        padding: 25px 0;

        h2{
            color: #ffffff;
            margin-bottom: 20px;
            font-weight: 100;
            strong{
                font-weight: bold;
            }
        }

.form-type-select{
    padding: 0;
    margin: 0;

    label{
        display: none;
    }

    .customSelect.form-select{
        border: 1px solid #ffffff;
        color: #ffffff;
        background: transparent;
        border-radius: 0;
        font-style: italic;
        font-weight: 100;
    }
}

.form-actions{
    padding: 0 15px;
    margin: 0;

    button{
        float: right;
        color: #ffffff;
        border: 3px solid #ffffff;
        text-transform: uppercase;
        border-radius: 0;
        background: transparent;
        font-size: 0.8em;
    }
}
    }


}

.form-select.hasCustomSelect{
    z-index: 5;
}
.customSelect.form-select{
        position: relative;
        padding-right: 30px;

        &:before{
            display: block;
            font: normal normal normal 14px/1 FontAwesome;
            color: #ffffff;
            content: "\f107";
            font-size: 1.2em;
            float: right;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    #main, .node__content{
        margin: 0;
    }

/* SEARCH */
.block-search-form-block{
    .form-actions{
        display: none;
    }

    .form-type-search{
        margin: 0;

        input{
            color: #d9cebf;
            background: transparent;
            border-radius: 0;
            border: none;
            padding: 6px 5px;
            font-size: 0.8em;
            font-style: italic;
            width: 150px;
        }
    }
}

.region-top-right{
    .block{
        float: left;
    }
}

.btn.btn-secondary{
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    border-radius:0;
    /*width:100%;*/

    &:hover{
        background: #ffffff;
        color: $primary_color;
    }
}

.btn.btn-big{
  width: 350px;
  max-width: 100%;
  font-style: italic;
  font-weight: 100;
  text-transform: none;
}

.align-self-center{
  align-self: center !important;
}

.more-link a, .btn.btn-primary{
    background: none;
    border: 1px solid $primary_color;
    color: $primary_color;
    text-transform: uppercase;
    border-radius:0;
    font-weight: bold;

    &:hover{
        background: $primary_color;
        color: #ffffff;
    }
}

.more-link{
    text-align: center;
    padding: 30px 0;

    a{
        padding: 0.5rem 1rem;
        display: inline-block;
    }
}

button[id^=edit-preview]{
    display: none;
}

.paragraph--type--tekst-2-kolommen, .paragraph--type--_-afbeeldingen{
    margin: 0 -15px;
    > div{
        padding: 0 15px;
        width: 50%;
        float: left;
    }

    &:after{
        content: '';
        display: block;
        clear: both;
    }
}

.paragraph--type--_-afbeeldingen{
    margin: 0;
    display: flex;

    > div.field--type-image{
        padding: 0;
        margin: 0;

        img{
            width: auto;
            height: auto;
            max-width: 100%;
            margin: 0;
        }
    }

}

.node--view-mode-full.node--type-page {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  //padding-top: 50px;
}

.block-language{
    ul.links{
        list-style-type: none;
        padding: 0;
        margin: 0;

        li{
            float: left;
            border-right: 1px solid #ffffff;

            &.is-active{
                text-decoration: underline;
            }

            a{
                font-weight: 100;
                padding: 4px;
                padding: 3px 10px;
                display: block;
            }

            &:last-child{
                border-right: none;
            }
        }
    }
}

/* pagination */

.pagination {
    display: block;
    text-align: center;
    list-style: none;
    font-size: 0;
}
.page-item,
.pager__item--next {
    display: inline-block;
    font-size: 1rem;
}
.page-link {
    color: #151515;
}
.page-link:focus,
.page-link:hover {
    color: #000;
    text-decoration: none;
}
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
    background-color: #f59f07;
    border-color: #f59f07;
}


@media (min-width: 576px) {
  .node--view-mode-full.node--type-page {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .node--view-mode-full.node--type-page {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .node--view-mode-full.node--type-page {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .node--view-mode-full.node--type-page {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 576px) {
  .node--view-mode-full.node--type-page {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .node--view-mode-full.node--type-page {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .node--view-mode-full.node--type-page {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .node--view-mode-full.node--type-page {
    width: 1140px;
    max-width: 100%;
  }
}

@import 'responsive';
