{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
 #}
 {%
 set classes = [
 'block',
 'block-' ~ configuration.provider|clean_class,
 'block-' ~ plugin_id|clean_class,
 ]
 %}
 <div{{ attributes.addClass(classes) }}>

 {% block content %}

 <div{{ content_attributes.addClass('content').addClass('pb-2') }}>
 <div class="container">
  <h2{{ title_attributes }}>{{ '<strong>Find the machine</strong> matching your requirements' | trans }}</h2>
  <div class="row">
    <div class="col-xs-12">
      <form action="/zoekresultaten" method="get" class="row" id="search_form">
        {% for my_filter in active_filters %}
          <input type="hidden" name="filter[]" value="{{my_filter}}">
        {% endfor %}
        <div class="col-xs-12 col-md-6">
          <div class="filter-dropdown">
          <input type="checkbox" id="drop-categories" class="hidden dropdown-toggle">
          <label class="title" for="drop-categories">{{ 'Select your processing' | trans }}</label>
            <div class="dropdown-list">
            <ul>
              {% for category in productcategories %}
              <li><input onchange="for (i = 0; i < document.getElementsByName('categorie[]').length; i++){document.getElementsByName('categorie[]')[i].checked = false};document.getElementById('search_form').submit();" type="radio" {{ (category['id'] in active_productcategories) ? 'checked="checked"' : '' }} name="maincategorie[]" value="{{ category['id'] }}" id="category{{ category['id'] }}"><label for="category{{ category['id'] }}">{{ category['name'] }}</label></li>
              {% endfor %}
            </ul>
            </div>
          </div>
        </div>

        {% if productsubcategories is not empty %}
        <div class="col-xs-12 col-md-6">
          <div class="filter-dropdown {{ firstshow ? 'animate' : '' }}">
          <input type="checkbox" id="drop-subcategories" class="hidden dropdown-toggle">
            <label class="title" for="drop-subcategories">{{"Select your category"|trans}}</label>
            <div class="dropdown-list">
            <ul>
              {% for category in productsubcategories %}
              <li><input onchange="document.getElementById('search_form').submit();" type="radio" {{ (category['id'] in active_productsubcategories) ? 'checked="checked"' : '' }} name="categorie[]" value="{{ category['id'] }}" id="category{{ category['id'] }}"><label for="category{{ category['id'] }}">{{ category['name'] }}</label></li>
              {% endfor %}
            </ul>
            </div>
          </div>
        </div>
        {% endif %}

      </form>
    </div>
  </div>
</div>
</div>
{{content}}
{% endblock %}
</div>
