{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div class="term-content">
<div class="container">
{{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}
  {% if exposed %}
    <div class="view-filters">
      {{ exposed }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}
</div>
  
</div>
<div{{ attributes.addClass(classes) }}>

  {% if subterms %}
    <div class="row">
    {% for subterm in subterms %}
      <div class="col-xs-12 col-md-4 product-spotlight line-right views-row">
        <div class="views-field views-field-field-categorie-logo">
          <div class="field-content product-thumb-image">
          <a href="/zoekresultaten?maincategorie[]={{subterm.parentid}}&categorie[]={{subterm.term.id}}">
            <img src="{{file_url(subterm.term.field_categorie_logo.entity.uri.value)}}" alt="{{subterm.term.field_categorie_logo.entity.alt.value}}" typeof="foaf:Image" height="407" width="455">
          </a>
        </div>
      </div>
      <div class="views-field views-field-name">
        <span class="field-content">
        <a href="/zoekresultaten?maincategorie[]={{subterm.parentid}}&categorie[]={{subterm.term.id}}" hreflang="nl">{{subterm.term.name.value}}</a>
        </span>
      </div>
    </div>
  {% endfor %}
  </div>
  {% elseif rows %}
    {% if active_productsubcategories %}
      <div class="row">
        <div class="col-12 col-md-3">
        <form action="/zoekresultaten" method="get" class="row side-filter">
        {% for product_cat in active_productcategories %}
          <input type="hidden" name="maincategorie[]" value="{{product_cat}}">
        {% endfor %}
        {% for product_subcat in active_productsubcategories %}
          <input type="hidden" name="categorie[]" value="{{product_subcat}}">
        {% endfor %}
         <ul>
                      {% if brands %}
            <li><span class="title">{{ "Merken"|trans }}</span></li>
            {% for brand in brands %}
            <li><input type="checkbox" {{ (brand.id in active_brands) ? 'checked="checked"' : '' }} name="brand[]" value="{{ brand.id }}" id="filter{{ brand.id }}"><label for="filter{{ brand.id }}">{{ brand.name.value }}</label></li>
            {% endfor %}
            {% endif %}
            {% for headfilter in productfilters %}
            <li><span class="title">{{ headfilter['item']['name'] }}</span></li>
            {% for filter in headfilter['subfilters'] %}
            <li><input type="checkbox" {{ (filter['id'] in active_filters) ? 'checked="checked"' : '' }} name="filter[]" value="{{ filter['id'] }}" id="filter{{ filter['id'] }}"><label for="filter{{ filter['id'] }}">{{ filter['name'] }}</label></li>
            {% endfor %}
            {% endfor %}
          </ul>
          <button type="submit" class="btn">Selecteer</button>
          </form>
        </div>
        <div class="col-12 col-md-9">
        {% endif %}
         <div class="view-content {{css_name == 'laatste-nieuws-en-tips' or css_name == 'machines'  or css_name == 'taxonomy-term' or css_name == 'merken' or css_name == 'vestigingen' or css_name == 'zoekresultaten'? 'row' : ''}}">
            {{ rows }}
          </div>
    {% if active_productsubcategories %}    
        </div>
      </div>
    {% endif %}

  {% elseif empty %}
    <div class="view-empty">
      {{ empty }}
    </div>
  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
